include README.md
include requirements.txt
include test-requirements.txt
include LICENSE
include tox.ini
include scripts/start_db.sh
include bin/runtestserver
include dci/alembic/alembic.ini
include dci/systemd/dci-worker.service
