include README.md
include requirements.txt
include test-requirements.txt
include LICENSE
include tox.ini
include scripts/start_db.sh
include scripts/data
include scripts/data/tripleo-stack-dump-sample.json
include scripts/start_es.sh
include bin/dci-runtestserver
include dci/data/junittojson.xsl
include dci/alembic/alembic.ini
include dci/systemd/dci-worker.service
