[project]
[access "refs/*"]
  read = group Anonymous Users
	read = group dci-control-server-core
  owner = group dci-control-server-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-control-server-core
	label-Verified = -2..+2 group Non-Interactive Users
	label-Verified = -2..+2 group dci-control-server-core
	label-Workflow = -1..+1 group dci-control-server-core
	submit = group dci-control-server-ptl
	read = group dci-control-server-core
[access "refs/meta/config"]
    read = group dci-control-server-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
