[access "refs/*"]
  read = group dci-core
  read = group dci-dev
  owner = group dci-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group dci-core
    label-Code-Review = -1..+1 group dci-dev
    label-Verified = -2..+2 group dci-ptl
    label-Workflow = -1..+1 group dci-core
    label-Workflow = -1..+0 group dci-dev
    read = group dci-core
    read = group dci-dev
    rebase = group dci-core
    rebase = group dci-dev
    push = group dci-core
    submit = group dci-ptl
[access "refs/tags/*"]
    pushTag = group dci-core
    pushSignedTag = group dci-core
[access "refs/meta/config"]
    read = group dci-core
    read = group dci-dev
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
    action = merge if necessary
[project]
        description = Distributed-CI Control-Server
