alembic
elasticsearch>=2.0.0,<3.0.0
flask
six
SQLAlchemy
SQLAlchemy-Utils
psycopg2
requests
voluptuous==0.10.5
passlib
setuptools
Werkzeug
pyzmq
pytz
lxml
python-swiftclient
python-keystoneclient
cryptography
pyjwt
dciauth
