pyjwt==2.4.0  # python-jwt-1.6.1-2.el8.src.rpm baseos
cryptography==3.2.1  # python-cryptography-3.2.1-5.el8.src.rpm baseos

pytz==2017.2  # pytz-2017.2-9.el8.src.rpm appstream
psycopg2==2.7.5  # python-psycopg2-2.7.5-7.el8.src.rpm appstream
pyOpenSSL==19.0.0  # pyOpenSSL-19.0.0-1.el8.src.rpm appstream
jsonschema==2.6.0  # python-jsonschema-2.6.0-4.el8.src.rpm appstream
SQLAlchemy==1.3.2  # python-sqlalchemy-1.3.2-2.module_el8.5.0+761+faacb0fb.src.rpm appstream

alembic==1.3.1  # python-alembic-1.3.1-1.el8.src.rpm centos-openstack-train
six==1.14.0  # python-six-1.14.0-2.el8.src.rpm centos-openstack-train
requests==2.22.0  # python-requests-2.22.0-7.el8.src.rpm centos-openstack-train
flask==1.1.1  # python-flask-1.1.1-1.el8.src.rpm centos-openstack-train
SQLAlchemy-Utils==0.34.2  # python-sqlalchemy-utils-0.34.2-2.el8.src.rpm centos-openstack-train
python-keystoneclient==3.21.0  # python-keystoneclient-3.21.0-2.el8.src.rpm centos-openstack-train
python-swiftclient==3.8.1  # python-swiftclient-3.8.1-1.el8.src.rpm centos-openstack-train

passlib==1.7.2  # python-passlib-1.7.2-1.el8.src.rpm epel
python-qpid-proton==0.35.0 # qpid-proton-0.35.0-2.el8.src.rpm epel
pyzmq==19.0.0  # python-zmq-19.0.0-1.el8.src.rpm epel

dciauth  # ignore: package from dci use the latest version
dci-umb  # ignore: package from dci use the latest version
