cryptography
six==1.10.0
pytz==2016.10
flask==0.10.1
pyzmq==14.7.0
pyopenssl==17.3.0
alembic==0.9.7
requests==2.14.2
pyjwt==1.5.3
python-swiftclient==3.5.0
sqlalchemy==1.2.2
werkzeug==0.9.1
sqlalchemy-utils==0.31.3
lxml==3.2.1
dciauth==2.0.2
psycopg2==2.5.1
passlib==1.7.0
voluptuous==0.10.5
