################################################
# http://mirror.centos.org/centos/7/os/x86_64/ #
################################################
pytest==2.7.0  # pytest
####################################################
# http://mirror.centos.org/centos/7/extras/x86_64/ #
####################################################
mock==1.2.17  # mock
#################################################################
# https://packages.distributed-ci.io/repos/current/el/7/x86_64/ #
#################################################################
dciclient==0.5.1  # python-dciclient
################################################################
# https://packages.distributed-ci.io/repos/extras/el/7/x86_64/ #
################################################################
###################################################
# https://dl.fedoraproject.org/pub/epel/6/x86_64/ #
###################################################
flake8==2.0  # python-flake8
tox==1.4.2  # python-tox
##################################################################
# http://mirror.centos.org/centos/7/cloud/x86_64/openstack-pike/ #
##################################################################
pytest-cov==2.5.1  # python-pytest-cov
# /!\ Cannot find pylint
pylint
