<div class="row">
<div class="col-md-6">
  <h2 class="page-header">Create user</h2>
  <form name="userForm" ng-submit="submitUser()" novalidate>
    <div class="form-group"
      ng-class="{'has-error': showError(userForm, userForm.userName)}">

      <label class="control-label" for="user-name">Name</label>
      <input type="text" class="form-control" id="user-name" name="userName"
      ng-model="user.name" required>
    </div>
    <div class="form-group"
      ng-class="{'has-error': showError(userForm, userForm.userPassword)}">

      <label class="control-label" for="user-password">Password</label>
      <input type="password" class="form-control" id="user-password"
      name="userPassword" ng-model="user.password" required>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="user.admin"> Admin
      </label>
    </div>
    <div class="form-group">
      <label for="user-team" class="control-label">Team</label>
      <select class="form-control" id="user-team" name="userTeam"
        ng-options="team.id as team.name for team in teams"
        ng-model="user.team">
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="col-md-6">
  <h2 class="page-header">Create team</h2>
  <form name="teamForm" ng-submit="submitTeam()" novalidate>
    <div class="form-group"
      ng-class="{'has-error': showError(teamForm, teamForm.teamName)}">

      <label for="team-name" class="control-label">Name</label>
      <input type="text" class="form-control" id="team-name" name="teamName"
      ng-model="team.name" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>

<div class="row" ng-repeat="alert in alerts">
  <div alert class="col-md-6 col-md-offset-3" type="{{alert.type}}" close="closeAlert($index)">
    {{alert.msg}}
  </div>
</div>
