<div class="tile job-tile" ng-class="job.status">
  <div class="tile-main">
    <a ui-sref="job({id: job.id})" ng-class="job.status">
      {{job.remoteci.name}} / {{job.jobdefinition.name}}
    </a>
  </div>
  <div class="tile-additional">
    <ul>
      <li ng-class="job.status">
        <span class="glyphicon" ng-class="job.glyphicon"></span>{{job.status}}
      </li>
      <li><span class="glyphicon glyphicon-time"></span>ran for {{job.timeRunning}}</li>
      <li><span class="glyphicon glyphicon-calendar"></span>{{job.createdAt}}</li>
    </ul>
  </div>
  <div class="tile-refresh" ng-controller="JobRecheckCtrl">
    <span class="glyphicon glyphicon-repeat" ng-click="recheck(job)"></span>
  </div>
</div>
