<div accordion>
  <div accordion-group heading="Filtering" is-open="isFiltering" class="filtering">
    <form ng-submit="search()">
      <h5> Status </h5>
      <div class="list">
        <div ng-repeat="(key, _) in status">
          <input id="{{key}}" ng-model="status[key]" type="checkbox"/>
          <label for="{{key}}">{{key}}</label>
        </div>
      </div>
      <h5> RemoteCI </h5>
      <div class="list">
        <div ng-repeat="(remoteci, _) in remotecis">
          <input id="{{remoteci}}" ng-model="remotecis[remoteci]" type="checkbox"/>
          <label for="{{remoteci}}">{{remoteci}}</label>
        </div>
      </div>
      <button type="submit" class="btn btn-xs btn-primary">Search</button>
    </form>
  </div>
</div>

<ul class="job-list">
  <li ng-repeat="job in jobs" dci-job></li>
</ul>


<div class="pagination" ng-if="pagination">
  <div pagination total-items="pagination.total" max-size="5"
    ng-model="pagination.page" class="pagination-sm" boundary-links="true"
    rotate="false" items-per-page="20" ng-change="pagination.pageChanged()">
  </div>
</div>
