<div accordion>
  <div accordion-group heading="Filtering" is-open="isFilteringOpen" class="filtering">
    <form ng-submit="search()">
      <h5> Status </h5>
      <div class="list">
        <div ng-repeat="(key, _) in status">
          <input id="{{key}}" ng-model="status[key]" type="checkbox"/>
          <label for="{{key}}">{{key}}</label>
        </div>
      </div>
      <h5> RemoteCI </h5>
      <div class="list">
        <div ng-repeat="(remoteci, _) in remotecis">
          <input id="{{remoteci}}" ng-model="remotecis[remoteci]" type="checkbox"/>
          <label for="{{remoteci}}">{{remoteci}}</label>
        </div>
      </div>
      <button type="submit" class="btn btn-xs btn-primary">Search</button>
    </form>
  </div>
</div>

<ul class="job-list">
  <li ng-repeat="job in jobs" dci-job></li>
</ul>
<div class="pagination" ng-if="total">
  <button class="btn btn-sm btn-primary" ng-click='previous()'>
    <i class="glyphicon glyphicon-menu-left"></i>
  </button>
  {{page}} / {{total}}
  <button class="btn btn-sm btn-primary" ng-click='next()'>
    <i class="glyphicon glyphicon-menu-right"></i>
  </button>
</div>
