<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <button class="btn btn-default btn-block" ng-click="isFiltering = !isFiltering">
      Filtering
    </button>
  </div>
</div>
<div class="row">
<form ng-submit="search()" collapse="!isFiltering" class="col-md-12">
  <div class="form-group">
    <h4> Status </h4>
    <label ng-repeat="(key, _) in status" class="checkbox-inline">
      <input ng-model="status[key]" type="checkbox"/>
      {{key}}
    </label>
  </div>
  <div class="form-group">
    <h4> RemoteCI </h4>
    <label ng-repeat="(remoteci, _) in remotecis" class="checkbox-inline">
      <input ng-model="remotecis[remoteci]" type="checkbox"/>
      {{remoteci}}
    </label>
  </div>
  <button type="submit" class="btn btn-primary col-md-3">Search</button>
</form>
</div>
<div ng-repeat="job in jobs" dci-job></div>

<div class="pagination" ng-if="pagination">
  <div pagination total-items="pagination.total" max-size="5"
    ng-model="pagination.page" class="pagination-sm" boundary-links="true"
    rotate="false" items-per-page="20" ng-change="pagination.pageChanged()">
  </div>
</div>
