<div class="container">
  <div class="row login">
    <form class="col-md-4 col-md-offset-4 form-signin"
      ng-submit="authenticate(credentials)">

      <h2 class="form-signin-heading">Please sign in</h2>

      <label for="inputLogin" class="sr-only">Login</label>

      <input type="login" ng-model="credentials.username"
        name="userName" id="inputLogin" class="form-control"
        placeholder="Login" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>

      <input type="password" ng-model="credentials.password"
        id="inputPassword" class="form-control"
        placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
  </div>
</div>
