<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>Distributed CI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<form ng-submit="submit()" ng-controller="LoginController">
  <label>
    User name:
    <input type="text" name="userName" ng-model="username" required>
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.userName.$error.required">
    Required !</span>
  </div>

  <label>
    Password:
    <input type="password" name="password" ng-model="password" required>
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.password.$error.required">
    Required !</span>
  </div>
  <input type="submit" id="submit()" value="Submit" />
</form>

</body>
</html>
