<h1 class="page-header">Job details</h1>
<table class="table table-striped">
  <tr>
    <th>Remote CI name</th>
    <th>Creation date</th>
    <th>Last update date</th>
    <th>Test name</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>{{job.remoteci.name}}</td>
    <td>{{job.created_at}}</td>
    <td>{{job.updated_at}}</td>
    <td>{{job.jobdefinition.test}}</td>
    <td>{{job.jobstate.status}}</td>
  </tr>
</table><br/>

<h2>Test details</h2>
<ul ng-repeat="component in job.data.components">
    <li ng-repeat="(key, value) in component">{{key}}: {{value}}</li>
</ul>

<h2>Job states</h2>
<!-- id: {{jobstate.id}} -->
<small>{{job.jobstate.created_at}} → {{job.jobstate.updated_at}} ({{job.jobstate.status}})</small>
<div ng-repeat="file in job.jobstate.files">
  {{file.name}}
  <!-- TODO(Gonéri): I think we can replace that with something
        like https://github.com/drudru/ansi_up -->
  <div style="overflow: auto;word-wrap: normal;white-space: pre; background: #cccccc;">
    {{file.content}}
  </div>
</div>
