<h1 class="page-header">Jobs</h1>
<table class="table table-striped">
  <tr>
    <th>Remote CI</th>
    <th>Last update date</th>
    <th>Product</th>
    <th>Test name</th>
    <th>Version</th>
    <th>Status</th>
    <th>Details</th>
  </tr>
  <tr ng-repeat="job in jobs">
    <td>{{job.extra_data.remoteci}}</td>
    <td>{{job.extra_data.last_update}}</td>
    <td>{{job.extra_data.product}}</td>
    <td>{{job.extra_data.test}}</td>
    <td>{{job.extra_data.version}}</td>
    <td>{{job.extra_data.last_status}}</td>
    <td>
      <a ui-sref="job({id: job.id})">Show details</a>
    </td>
  </tr>
</table>
<td>{{page}} / {{total}}</td>
<button ng-click='previous()'>Previous</button>
<button ng-click='next()'>Next</button>
