<h1 class="page-header">Jobs</h1>
<table class="table table-striped">
  <tr>
    <th>Remote CI</th>
    <th>Last update date</th>
    <th>Test name</th>
    <th>Status</th>
    <th>Details</th>
  </tr>
  <tr ng-repeat="job in jobs">
    <td>{{job.remoteci.name}}</td>
    <td>{{job.jobstates_collection[0].updated_at}}</td>
    <td>{{job.jobdefinition.test}}</td>
    <td>{{job.jobstates_collection[0].status}}</td>
    <td>
      <a ui-sref="job({id: job.id})">Show details</a>
    </td>
  </tr>
</table>
<td>{{page}} / {{total}}</td>
<button ng-click='previous()'>Previous</button>
<button ng-click='next()'>Next</button>
