<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>Distributed CI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      * {margin: 0;padding: 0;}
      body {font: 14px/1.4 Georgia, Serif;}
      #page-wrap {margin: 50px;}
      p {margin: 20px 0;}
      table {width: 100%; order-collapse: collapse;}
      tr:nth-of-type(odd) {background: #eee;}
      th {background: #333; color: white; font-weight: bold;}
      td, th {padding: 6px; border: 1px solid #ccc; text-align: left;}
  </style>
</head>

<body>
  <div id="page-wrap" ng-controller="JobDetailsController">
	<h1>Job details</h1>
	<table>
	  <tr>
        <th>Remote CI name</th>
        <th>Creation date</th>
        <th>Last update date</th>
        <th>Product</th>
        <th>Test name</th>
        <th>Version</th>
        <th>Status</th>
	  </tr>
      <tr>
        <td>{{job.remoteci.name}}</td>
        <td>{{job.created_at}}</td>
        <td>{{job.updated_at}}</td>
        <td>{{job.product.name}}</td>
        <td>{{job.test.name}}</td>
        <td>{{job.version.name}}</td>
        <td>{{job.jobstates[job.jobstates.length-1].status}}</td>
      </tr>
	</table><br/>

    <h2>Job states</h2>
    <div ng-repeat="jobstate in job.jobstates">
    <table>
      <tr>
        <th>Creation date</th>
        <th>Last update date</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>{{jobstate.created_at}}</td>
        <td>{{jobstate.updated_at}}</td>
        <td>{{jobstate.status}}</td>
      </tr>
    </table><br/>
    <div ng-repeat="file in jobstate.files">
      <h3>{{file.name}}</h3>
      <table>
        <tr>
          <td>{{file.content}}</td>
        </tr>
      </table><br/>
    </div>
    </div>
  </div>
</body>

</html>
