<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'>
  <title>Distributed CI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      * {margin: 0;padding: 0;}
      body {font: 14px/1.4 Georgia, Serif;}
      #page-wrap {margin: 50px;}
      p {margin: 20px 0;}
      table {width: 100%; order-collapse: collapse;}
      tr:nth-of-type(odd) {background: #eee;}
      th {background: #333; color: white; font-weight: bold;}
      td, th {padding: 6px; border: 1px solid #ccc; text-align: left;}
  </style>
</head>

<body>
  <div id="page-wrap">
	<h1>Jobs</h1>
	<table>
	  <tr>
        <th>Remote CI name</th>
        <th>Last update date</th>
        <th>Product</th>
        <th>Test name</th>
        <th>Version</th>
        <th>Status</th>
        <th>Details</th>
	  </tr>
      <tr ng-repeat="job in jobs">
        <td>{{job.remoteci.id.name}}</td>
        <td>{{job.updated_at}}</td>
        <td>{{job.product}}</td>
        <td>{{job.test}}</td>
        <td>{{job.version}}</td>
        <td>{{job.status}}</td>
        <td>
          <a href="#/jobs/{{job.id}}">Show details</a>
        </td>
      </tr>
	</table>
    <td>{{_meta.page }} / {{(_meta.total / _meta.max_results) | number:0}}</td>
  <button ng-click='previousPage()'>Previous</button>
  <button ng-click='nextPage()'>Next</button>
  </div>



</body>

</html>
