@import "bootstrap";

body {
  margin-top: 60px;
}


.tab-content {
  margin-top: 20px;
}

.navbar {
  .navbar-brand {
    padding-top: 3px;
  }
}

.checkbox-inline {
  margin-right: 15px;

  & + .checkbox-inline {
    margin-left: 0;
  }
}

.bs-callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid $btn-default-border;
  border-left-width: 5px;
  border-radius: 3px;

  & + .bs-callout {
    margin-top: -5px;
  }
}

@each $name, $color in
(primary, $brand-primary), (success, $brand-success), (info, $brand-info),
(warning, $brand-warning), (danger, $brand-danger) {
  .bs-callout-#{$name} {
    border-left-color: $color;

    .title {
      color: $color
    }

    a.title:hover {
      color: darken($color, 15%)
    }
  }
}

.job {
  .glyphicon-repeat, .glyphicon-minus-sign {
    margin-top: 5px;
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 12px;
  }
}

/*!
 * jsonformatter
 *
 * Version: 0.4.1 - 2015-12-03T03:38:59.933Z
 * License: MIT
 */


.json-formatter-row {
  font-family: monospace;

  &, a, a:hover {
    color: black;
    text-decoration: none;
  }

  .json-formatter-row {
    margin-left: 1em;
  }

  .children.empty {
    opacity: 0.5;
    margin-left: 1em;

    &.object:after {
      content: "No properties";
    }
    &.array:after {
      content: "[]";
    }
  }

  .string {
    color: $brand-success;
    white-space: pre;
    word-wrap: break-word;
  }

  .number {
    color: $brand-info;
  }
  .null {
    color: $brand-warning;
  }

  .boolean {
    color: $brand-danger;
  }
  .key {
    color: $brand-primary;
    cursor: pointer;
  }
  .toggler {
    font-size: 0.8em;
    line-height: 1.2em;
    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;

    &:after {
      display: inline-block;
      transition: transform 100ms ease-in;
      content: "►";
    }
    &.open:after {
      transform: rotate(90deg);
    }
  }

  & > a > .thumbnail-text {
    opacity: 0;
    transition: opacity 0.15s ease-in;
    font-style: italic;
  }

  &:hover > a > .thumbnail-text {
    opacity: 0.6;
  }
  .constructor-name {
    cursor: pointer;
  }
}
