$success     : #5cb85c;
$failure     : #d9534f;
$new         : #337ab7;
$unfinished  : #f0ad4e;
$progress    : #5bc0de;
$gray        : gray;
$gray-darker : darken($gray, 13.5%);
$gray-dark   : darken($gray, 22.5%);
$background  : #fff;
$size: 14px;

body {
  margin-top: 60px;
  font-size: 16px;
}

.navbar {
  background-color: $background;
  .navbar-brand {
    padding-top: 3px;
  }
}


header.page-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;

  h1 {
    font-size: 25px;
    line-height: 1;
    color: $gray;
    padding-top: 4px;
  }

  .search {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 4px;
    width: 300px;
    font-size: $size;
    color: #a6adad;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
  }
}

.tile {
  border-radius: 0;
  border: 1px solid;
  padding: .6em .5em;
  font-size: $size;
  box-shadow: 2px 4px 4px #ccc;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  cursor: pointer;
}


.job-tile {
  display: flex;
  align-items: stretch;
  background-color: $background;
  margin-bottom: 10px;
  border-left-width: 8px;
  min-height: 100px;

  .tile-main {
    flex: 0 1 50%;
  }
  .tile-additional {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
    .glyphicon {
      margin-right: 6px;
    }
  }
  .tile-refresh {
    display: flex;
    align-items: center;
    flex: 0 0 100px;
    font-weight: bold;
    font-size: 18px;

    .glyphicon-repeat {
      background-color: $gray-darker;
      cursor: pointer;
      border-radius: 50%;
      padding: 8px;
      margin: auto;
      color: #fff;
    }
  }
  @each $name, $color in
  (new, $new), (initializing, $progress), (ongoing, $progress),
  (success, $success), (failure, $failure), (unfinished, $unfinished),
  (killed, $unfinished) {
    &.#{$name}  {
      border-color: $color;
    }

    .#{$name} {
      color: $color;
    }
  }
}

.jobstates-files {
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  @each $name, $color in
    (new, $new), (initializing, $progress), (ongoing, $progress),
    (success, $success), (failure, $failure), (unfinished, $unfinished),
    (killed, $unfinished) {

    .#{$name} {
      color: $color;
    }
  }
}

.tile-file {
  background-color: #f7f7f7;
  margin-top: 40px;

  h3 {
    font-size: 12px;
    padding: 5px 0 5px 0;
    margin: 0;
    font-weight: bold;
  }

  pre {
    border-width: 0;
    background-color: transparent;
  }
}


.panel-group {
  .panel {
    border-color: black;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 0;
  }
}

.panel-default > .panel-heading {
  background-color: $background;
}

.panel-title {
  font-size: $size;
}

.list {
  display: flex;
  flex-wrap: wrap;
  label {
    font-size: $size;
    font-weight: normal;
    padding: 5px 15px 5px 5px;
  }
}

.alerts  {
  margin-top: 25px;
}
