@import "bootstrap";

body {
  margin-top: 60px;
}


.tab-content {
  margin-top: 20px;
}

.navbar {
  .navbar-brand {
    padding-top: 3px;
  }
}

.checkbox-inline {
  margin-right: 15px;

  & + .checkbox-inline {
    margin-left: 0;
  }
}

.bs-callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid $btn-default-border;
  border-left-width: 5px;
  border-radius: 3px;

  & + .bs-callout {
    margin-top: -5px;
  }
}

@each $name, $color in
(primary, $brand-primary), (success, $brand-success), (info, $brand-info),
(warning, $brand-warning), (danger, $brand-danger) {
  .bs-callout-#{$name} {
    border-left-color: $color;

    .title {
      color: $color
    }

    a.title:hover {
      color: darken($color, 15%)
    }
  }
}

.job {
  .glyphicon-repeat, .glyphicon-minus-sign {
    margin-top: 5px;
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 12px;
  }
}
